html {
    width: 100%;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 603px;
    height: 603px;
    margin-bottom: 20px;
}

.square {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: black;
}

.one, .four, .seven { /* left side gameboard */
    border-right: 1px solid black;
}

.one, .two, .three { /* top side gameboard */
    border-bottom: 1px solid black;
}

.three, .six, .nine { /* right side gameboard */
    border-left: 1px solid black;
}

.seven, .eight, .nine { /* right side gameboard */
    border-top: 1px solid black;
}

.footer {
    font-size: 60px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reset {
    color: white;
    background-color: crimson;
    border-radius: 10px;
    font-size: 20px;
    width:100px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}