html {
    width: 100%;
}
body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameboard {

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 903px;
    height: 903px;
}

.square {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: black;
}

.one, .four, .seven { /* left side gameboard */
    border-right: 1px solid black;
}

.one, .two, .three { /* top side gameboard */
    border-bottom: 1px solid black;
}

.three, .six, .nine { /* right side gameboard */
    border-left: 1px solid black;
}

.seven, .eight, .nine { /* right side gameboard */
    border-top: 1px solid black;
}